
body {
    /* If this isn't here, element goes all the way to the right: */
    position: absolute
}

#news_child {
    position: absolute;
    bottom: 0;
    background-color: aqua;
    color: white;
}
#greeting {
    /* This is required: */
    position: relative;
    background-color: black;
    /* This puts it on top of the canvas: */
    z-index: 1; 
    font-family: Helvetica;
    font-size: 20px;
    color: white;
    opacity: 0;
    width: 100px;
}

#weather_txt {
    /* position: relative; */
    background-color: blue;
    /* z-index: 1; */
    font-family: Helvetica;
    font-size: 40px;
    color: white;
    /* padding-left: 100px; */
    opacity: 0;
}

#weather {
    position: absolute;
    z-index: 1;
    display: inline;
}

#news {
    position: relative;
    background-color: purple;
    z-index: 1;
    font-family: Helvetica;
    font-size: 30px;
    opacity: 0;

}