
body {
    /* If this isn't here, element goes all the way to the right: */
    position: absolute
}

/* p {
    background-color: black;
} */

#news_child {
    position: absolute;
    bottom: 0;
    background-color: aqua;
    color: white;
    display: inline;
    /* padding-left: 120px; */
}
#block {
    width: 100px;
    background-color: blueviolet;
}
#greeting {
    /* This is required: */
    position: relative;
    background-color: black;
    /* This puts it on top of the canvas: */
    z-index: 1; 
    font-family: Helvetica;
    font-size: 20px;
    color: white;
    opacity: 0;
    width: 100px;
}

#weather_txt {
    /* position: relative; */
    /* background-color: blue; */
    /* z-index: 1; */
    
    /* padding-left: 100px; */
    opacity: 0;
    float: right;
}

#weather {
    position: absolute;
    z-index: 1;
    display: inline;
    background-color: green;
    font-family: Helvetica;
    font-size: 40px;
    color: white;
}

#news {
    position: relative;
    background-color: purple;
    z-index: 1;
    font-family: Helvetica;
    font-size: 30px;
    opacity: 0;
    /* padding: 20px;
    height: 60px; */

}